/* Глобальные стили */

a { 
	text-decoration: none;
}
li {
	list-style: none;
}

/* Header*/
.header 
.header-up {
	background-color: #293449;
	color: #fff;
	display:flex;
}



.header-down
.logo a {
	display: inline-block;
    width: 165px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}
.header-search