a { 
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
    min-height: 320px;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}    
.flex {        
    display: -webkit-box;        
    display: -ms-flexbox;        
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header-up {
    background-color: #293449;
    color: #fff;
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: 400;
    min-height: 42px;
}
.header-up a {
    color: #fff;
}
.logo {
    width: 220px;
    font-size: 24px;
    line-height: 24px;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
    box-shadow: 0 5px 0 0 #b52933;
    padding: 10px 0 8px 0;
    text-align: center;
}
.logo:hover {
    background-color: #ca2c37;
}
input[type="search"] {
    width: 270px;
    border: none;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    background: #293449;
    padding: 12px 0 12px 50px;
}
input[type="search"]::-webkit-input-placeholder {
    color: #fff;
}
input[type="search"]::-moz-placeholder {
    color: #fff;
}
input[type="search"]:-ms-input-placeholder {
    color: #fff;
}
input[type="search"]::-ms-input-placeholder {
    color: #fff;
}
input[type="search"]::placeholder {
    color: #fff;
}
.form-search-label {
    position: relative;
}
.form-search-icon {
    position: absolute;
    fill: rgb(255, 255, 255, 0.3);
    left: 18px;
    top: 0px;
}
input[type="search"]:hover + .form-search-icon {
    fill: rgb(255, 255, 255, 1);
}
input[type="search"]:focus {
    color:#000;  
    background:#fff;
}
input[type="search"]:focus + .form-search-icon {
    fill:red;
}
.bookmark {
    font-size: 17px;
    line-height: 18px;
    position: relative;
    width: 105px;
    padding: 12px 0 12px 45px;
}
.bookmark:before {
    content: "";
    width: 14px;
    height: 16px;
    display: block;
    background: url(../img/icon-bookmark.svg) no-repeat;
    position: absolute;
    top: calc(50% - 16px / 2);
    left: 20px;
    opacity: 0.3;
}
.bookmark:hover:before {
    opacity: 1;
}
.basket {
    font-size: 17px;
    line-height: 18px;
    position: relative;
    width: 100px;
    padding: 12px 0px 12px 50px;
}
.basket:before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    background: url(../img/icon-cart.svg) no-repeat;
    position: absolute;
    top: calc(50% - 15px / 2);
    left: 20px;
    opacity: 0.3;
}
.basket:hover:before {
    opacity: 1;
}
.added-basket {
    background: #ee3643;
}
.order {
    width: 150px;
    text-align: center;
    padding: 12px 0px;
    font-size: 17px;
    line-height: 18px;
    text-transform: inherit;
    background: #63a63e;
}
.order:hover {
    background: #5fbb2d;
}
.order:active {
    background: #518534;
}
.bookmark:active, .basket:active, .order:active {
    opacity: 0.6;
 }
.bookmark:hover, .basket:hover {
    background: #212a3a;
}
.header-center {
    background-color: #f1f5f7;
    padding: 47px 0 63px 0;
}
.header-center h1 {
    font-size: 16px;
    font-family: "Cuprum","Arial",sans-serif;
    color: #ee3643;
    width: 208px;
    line-height: 23px;
    padding: 2px 50px 0px 52px;
    font-style: italic;
    margin: 0px;
    font-weight: normal;
}
.header-contact {
    width: 300px;
    font-family: "Cuprum","Arial",sans-serif;
}
.phone {
    font-size: 21px;
    line-height: 18px;
    position: relative;
    border: 3px solid #fff;
    padding: 10px 50px 10px 72px;
    margin: 0px;
    width: 145px;
}
.phone a {
    color: #e9292a;
    font-style: normal;
}
.phone:before {
    content: "";
    width: 19px;
    height: 19px;
    display: block;
    background: url(../img/icon-phone.svg) no-repeat;
    position: absolute;
    top: calc(50% - 19px / 2);
    left: 10px;
}
.address {
    color: #32425c;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    padding: 4px 0 0 10px;
    margin: 0px;
}
.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    height: 45px;
    width: 300px;
    font-size: 21px;
    line-height: 18px;
    font-family: "Cuprum","Arial",sans-serif;
}
.login {
    background-color: #fff;
    padding: 13px 26px 0 45px;
    color: #000;
    position: relative;
}
.login-icon {
    top: 13px;
    left: 13px;
    fill: #c5c5c5;
    position: absolute;
}
.login:hover .login-icon {
    fill: #32425c;
}
.login:hover {
    color: #ee3643;
}
.registration {
    background-color: #fff;
    color: #000;
    width: 150px;
    padding-top: 13px;
    margin-left: 10px;
}
.registration:hover {
    color: #ee3643;
}
.login:active, .registration:active {
    opacity: 0.3;
}
.accaunt {
    margin-top: 14px;
}
.user-info {
    margin-top: -12px;
    margin-bottom: 8px;
}
.user {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 250px;
    height: 44px;
    padding-left: 47px;
    background: #fff;
    font-size: 21px;
    margin-bottom: 5px;
    line-height: 18px;
    color: #000;
    font-family: "Cuprum","Arial",sans-serif;
}
.user-icon {
    width: 20px;
    height: 18px;
    position: absolute;
    top: calc(50% - 18px / 2);
    left: 10px;
}
.exit {
    position: relative;
}
.icon-logout {
    position: absolute;
    width: 20px;
    height: 17px;
    top: -34px;
    left: 270px;
}
.user-icon, .icon-logout {
    fill: #c5c5c5;
}
.user:hover .user-icon {
    fill: #32425c;
}
.user:hover {
    color: #32425c;
}
.icon-logout:hover {
    fill: #32425c;
}
.user:active, .exit:active {
    opacity: 0.3;
}
.my-order {
    font-size: 16px;
    text-decoration: underline;
    color: #32425c;
    padding: 0px 32px 0 19px;
    position: relative;
    font-family: "Cuprum","Arial",sans-serif;
}
.my-order:after {
    position: absolute;
    content: "";
    top: 35%;
    left: 86%;
    width: 4px;
    height: 4px;
    background: #32425c;
    border-radius: 50%;
}
.personal {
    font-size: 16px;
    text-decoration: underline;
    color: #32425c;
    font-family: "Cuprum","Arial",sans-serif;
}
.my-order:hover, .personal:hover {
    color: #ee3643;
}
.my-order:active, .personal:active, .user:active {
    opacity: 0.3;
    color: #32425c;
}
.nav {
    font-family: "Cuprum","Arial",sans-serif;
    margin-top: 38px;
}
.nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #32425c;
    font-size: 17px;
    padding: 0px 23px;
    border-bottom: 5px solid #293449;
    margin: 0px;
}
.nav li {
    padding: 17px 30px 17px;
}
.nav a {
    color: #fff;
}
.nav a:hover {
    background-color: #293449;  
    color: #f1f1f3;
}
.nav a:active {
    background-color: #1d2739;  
    color: #777d88;
}
.box {
    width: 300px;
    height: 123px;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.btn {
    border-radius: 3%;
    text-transform: uppercase;
    background: rgba(0,0,0,0.1);
    color: #fff;
    margin: 0 0 25px 25px;
    width: 135px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
}
.btn:hover {
     background-color: rgba(204,204,204,0.2);
}
.btn:active {
    background-color: rgba(178,178,178,0.3)
}
.promo {
    font-family: "Cuprum","Arial",sans-serif;
    -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin: 59px 0 31px 0;
}
.promo h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin: 0;
    padding: 21px 0px 12px 23px;
}
.promo-up {
    margin-bottom: 20px;
}
.material {
    position: relative;
    background: #f6b22d url(../img/icon-1.svg) no-repeat 83% 53%;
    text-align: left;
}
.new-flag:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    display: block;
    background: url(../img/new-flag.png) no-repeat;
    top: -1px;
    right: -1px;
}
.tools {
    position: relative;
    background: #4aafde url(../img/icon-2.svg) no-repeat 87% 53%;
}
.equipment {
    background: #cc79d1 url(../img/icon-3.svg) no-repeat 86% 53%;
    position: relative;
}
.sliders {
    position: relative;
}
.slide-control {
    position: absolute;
    bottom: 55px;
    left: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30px;
    height: 10px;
}
.slide-control label {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}    
.slide {
    display: none;
    width: 620px;
    height: 265px;
}
.sliders-slide-1:checked ~ .switching .slide-1 {
    display: block;
    background: url(../img/slider-1.jpg) no-repeat;
}
.sliders-slide-2:checked ~ .switching .slide-2 {
    display: block;
    background: url(../img/slider-2.jpg) no-repeat;
}
#slide-1:checked ~ .slide-control label[for="slide-1"], #slide-2:checked ~ .slide-control label[for="slide-2"] {
    background: #ee3643;
}
.arrow-left:before {
    content: "";
    position: absolute;
    left: 22px;
    top: 123px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer;
}
.arrow-left:after {
    content: "";
    position: absolute;
    top: 140px;
    left: 22px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer;
}
.arrow-right:before {
    content: "";
    position: absolute;
    top: 140px;
    right: 17px;
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.arrow-right:after {
    content: "";
    position: absolute;
    display: block;
    top: 123px;
    right: 17px;
    width: 28px;
    height: 4px;
    background: #fff;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.slide h2 {
    font-size: 36px;
    line-height: 30px;
    margin: 0;
    padding: 26px 0 0 24px;
    color: #fff;
    text-transform: uppercase;
}
.slide p {
    margin-top: 4px;
    font: 18px/24px "PT Sans","Arial",sans-serif;
    margin: 25px 0px 10px 25px;
    color: #fff;
}
.slide .btn-red {
    margin: 100px 0 0 25px;
    width: 195px;
}
.btn-red {
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #fff;
    width: 253px;
    height: 38px;
    margin-right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.btn-red:hover {
    background-color: #ca2c37;
}
.btn-red:active {
    background-color: #ba2732;
}
.promo-right .box {
    margin-bottom: 20px;
}
.sale {
    background: #85d179 url(../img/icon-4.svg) no-repeat 81% 53%;
    position: relative;
}
.delivery {
    background: #f6b22d url(../img/icon-5.svg) no-repeat 86% 53%;
    position: relative;
}
.popular-section {
    font-family: "Cuprum","Arial",sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.section-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 90px;
    background: #f7f3ec;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section-title {
    font-size: 30px;
    line-height: 30px;
    margin-left: 28px;
    padding: 6px 0;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}
.goods {
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: bold;
    margin: 20px 0;
}
.goods-title {
    color: #000;
    font-size: 17px;
    line-height: 20px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: bold;
    margin: auto 25px;
    padding-top: 5px;
}
.goods-title a {
    color: #000;
}
.goods-list {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.popular-goods .goods-item:not(:nth-child(4n)) {
    margin-right: 20px;
}
.goods-item {
    border: 1px solid #e5e5e5;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 220px;
    text-align: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.goods-item:hover { 
    -webkit-box-shadow: 0 0 10px #aeb2ba; 
            box-shadow: 0 0 10px #aeb2ba;
}
.price-old {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #999;
        margin: 11px 0;
        font-size: 17px;
    line-height: 18px;
}
.no-discount {
    margin-top: 40px;
}
.price-new {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 133px;
    height: 38px;
    margin: 10px auto 20px;
    border-radius: 3%;
    text-transform: uppercase;
    color: #fff;
    background-color: #ee3643;
    font-size: 17px;
    line-height: 18px;
}
.price-new:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -26px;
    border: 19px solid white;
    border-left-color: #ee3643;
}
.goods-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    margin: 35px 10px 0px 0;
}
.btn-hover {
    border-radius: 3%;
    text-transform: uppercase;
    background: rgba(229,229,229,0.1);
    color: #fff;
    margin: 0 0 25px 22px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
}
.goods-item-wrapper .buy {
    background-color: #63a63e;
    font-family: "Cuprum","Arial",sans-serif;
    margin-bottom: 8px;
    height: 38px;
    -webkit-box-shadow: inset 0 -3px 0 #367315;
            box-shadow: inset 0 -3px 0 #367315;
    width: 140px;
}
.goods-item-wrapper .buy:before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    background: url(../img/icon-cart.svg) no-repeat;
    position: absolute;
    top: 10px;
    left: 65px;
    opacity: 0.3;
}
.goods-item-wrapper .in-bookmarks {
    font-family: "Cuprum","Arial",sans-serif;
    height: 32px;
    border: 3px solid #63a63e;
    background-color: #fff;
    color: #32425c;
    width: 135px;
}
.goods-item-wrapper .in-bookmarks:hover {  
    border: 3px solid #32425c;  
    color: #32425c;
}
.goods-item-wrapper .in-bookmarks:active {  
    border: 3px solid #c1c6ce;  
    color: #c1c6ce;
}
.goods-item-wrapper .buy:hover {  
    background-color: #5fbb2d;
}
.goods-item-wrapper .buy:active {  
    background-color: #518534;  
    -webkit-box-shadow: inset 0 -3px 0 #518534;  
            box-shadow: inset 0 -3px 0 #518534;
}
.goods-item:hover .goods-item-wrapper { 
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.popular-manufacturers {
    font-family: "Cuprum","Arial",sans-serif;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.firms {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.firms-brand {
    margin-top: 18px;
    border: 1px solid #e5e5e5;
    min-height: 143px;
}
.firms img {
    background-size: 100px;
}
.firms img:hover {
    -webkit-box-shadow: 0 5px 25px #abafb8;
            box-shadow: 0 5px 25px #abafb8;
}
.firms img:active {
    opacity: 0.3;  
    -webkit-box-shadow: 0 5px 15px #abafb8;  
            box-shadow: 0 5px 15px #abafb8
}
.box-service {
    background-color: #f2f6f8;
    min-height: 520px;
        margin-top: 78px;
}
.box-service h2 { 
    font-size: 30px;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: normal;
    margin: 28px 0;
}
.box-service h2 {
    padding-top: 65px;
    margin-bottom: 30px;
}
.about-service p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000;
}
.section-service {
    display: none;
}
.section-content {
    top: 0px;
    right: 0px;
    width: 620px;
    padding-bottom: 139px;
    position: absolute;
    margin-left: 80px;
    padding-top: 5px;
}
.section-content h3 {
    font-size: 36px;
    font-family: "Cuprum","Arial",sans-serif;
    color: #32425c;
    text-transform: uppercase;
    line-height: 17px;
   font-weight: normal;
    margin: 0 0 34px 0;
}
.service-delivery:checked ~ .box-service-container .section-delivery {
    display: block;
    position: relative;
}
.service-guarantee:checked ~ .box-service-container .section-guarantee {
    display: block;
    position: relative;
}
.service-credit:checked ~ .box-service-container .section-credit {
    display: block;
    position: relative;
}
.section-delivery:after {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
    background: url(../img/delivery.png) no-repeat;
    top: 16px;
    right: 0;
}
.section-guarantee:after {
    content: "";
    position: absolute;
    width: 389px;
    height: 283px;
    background: url(../img/guarantee.png) no-repeat;
    top: -5px;
    right: 0;
}
.section-credit:after {
    content: "";
    position: absolute;
    width: 465px;
    height: 285px;
    background: url(../img/credit.png) no-repeat;
    top: -10px;
    right: -17px;
}
.box-service-container label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 217px;
    font-size: 21px;
    line-height: 32px;
    font-weight: bold;
    padding: 11px 0 17px 23px;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    background-color: #32425c;
    color: #fff;
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: bold;
}
.box-service-container ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.section-delivery p {
    width: 272px;
    font-size: 12px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000;
}
.section-guarantee p {
    width: 400px;
    font-size: 12px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000;
}
.section-credit p {
    width: 280px;
    font-size: 12px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000;
}
.section-credit .btn-red {
    background-color: #ff5357;
}
.box-service-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 70px 0 54px 0;
    padding-bottom: 86px;
}
.box-service-wrapper:after{
    position: absolute;
    content: "";
    height: 270px;
    width: 20px;
    left: 230px;
    top: -45px;
    background: url(../img/shadow.png) no-repeat;
 }   
.service-delivery:checked ~ .box-service-container .delivery-tab {
    color: #32425c;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.service-guarantee:checked ~ .box-service-container .guarantee-tab {
    color: #32425c;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.service-credit:checked ~ .box-service-container .credit-tab {
    color: #32425c;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.box-service-container label:hover {
    background-color: #293449
}
.information {
    background-color: #fff;
}
.information-about {
    width: 540px;
    margin: 52px 0 84px 0;
}
.information-about h2, .information-contact h2 {
    font-size: 30px;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: normal;
    margin: 29px 0 29px 0;
}
.information-about p {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000;
}
.transfer {
    width: 430px;
    padding-top: 12px;
}
.companies {
        padding-left: 36px;
}
.information-about li {
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 18px;
     line-height: 20px;
    font-weight: 700;
    position: relative;
     padding: 8px 0px 12px 0px;
     color: #000;
    list-style-type: none;
    margin: 0px;
}
.information-about li:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: -36px;
    top: 17px;
    background-color: #fb565a;
}  
.information-about .btn-red {
    margin-top: 24px;
    width: 220px;
    font-family: "Cuprum","Arial",sans-serif;
}
.information-contact {
    width: 300px;
    margin: 52px 0 84px 0;
}
.information-contact p {
     font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000;
    width: 195px;
    margin-bottom: 32px;
}
.information-contact .btn-red {
    width: 300px;
    margin-top: 34px;
    font-family: "Cuprum","Arial",sans-serif;
}  
.footer {
    background-color: #32425c;
    font-family: "Cuprum","Arial",sans-serif;
}
.left-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
}
.footer-logo {
    width: 220px;
    line-height: 24px;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
    box-shadow: 0 5px 0 0 #b52933;
    text-align: center;
    padding: 16px 0;
    font-size: 30px;
    line-height: 30px;
}
.footer-up p {
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
    margin: 33px 0 50px 3px;
}
.left-contact a {
    color: #fff;
}
.footer-navigation {
    font-size: 18px;
    line-height: 24px;
    width: 590px;
}
.footer-navigation ul {
    list-style: none;
    padding: 0px;
    margin: 0 0 0 41px;
}
.footer-nav-up a {
    color: #fff;
}
.footer-nav-up-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            height: 60px;
}
.footer-nav-down a {
    color: #ffd180;
    padding-left: 27px;
}
.footer-nav-down-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            height: 60px;
            align-items: flex-end;
            flex-wrap: wrap;
}
.footer-nav-up li:hover, .footer-nav-down li:hover {
    text-decoration: underline;
}
.footer-nav-up li:active, .footer-nav-down li:active {
    opacity: 0.5;
    text-decoration: none;
}
.footer-down {
    background-color: #293449;
    min-height: 107px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}
.copyright {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    width: 240px;
}
.socials {
    margin: 0 100px 0 135px;
}
.socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 130px;
    padding: 0;
    list-style: none;
}
.vk, .fb, .inst {
    background-color: #212a3a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-position: 50% 50%;
}
.vk:hover, .fb:hover, .inst:hover {
    background-color: #ee3643;
}
.communication {
    margin: 14px 9px 0 0;
    display: flex;
    justify-content: space-between;
}
.mail {
    line-height: 0px;
        width: 140px;
    margin-right: 48px;
} 
.mail a {
    color: #ffd180;
}
.mail p {
    color: #fff;
}
.designed {
    line-height: 0px;
        width: 100px;
}
.designed p {
    color: #fff;
}
.designed a {
    color: #ffd180;
}
.mail a:hover, .designed a:hover {
    text-decoration: underline;
}
.mail a:active, .designed a:active {
    color: #ee3643;
}
.breadcrumbs {
    padding: 25px 0;
}
.breadcrumbs a {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
}
.breadcrumbs-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 373px;
}
.icon-home {
    position: relative;
}
.icon-home:before {
    content: "";
    position: absolute;
    background: url(../img/icon-home.svg) no-repeat;
    width: 25px;
    height: 25px;
    display: block;
    top: -7px;
    left: -13px;
}
.icon-home:after {
    content: "";
    position: absolute;
    background: url(../img/icon-right-small.svg) no-repeat;
    width: 8px;
    height: 12px;
    display: block;
    top: -6px;
    left: 14px;
}
.breadcrumbs-icon-1, .breadcrumbs-icon-2 {
    position: relative;
}
.breadcrumbs-icon-1:after {
    content: "";
    position: absolute;
    background: url(../img/icon-right-small.svg) no-repeat;
    width: 8px;
    height: 12px;
    display: block;
    top: 6px;
    left: 66px;
}
.breadcrumbs-icon-2:after {
    content: "";
    position: absolute;
    background: url(../img/icon-right-small.svg) no-repeat;
    width: 8px;
    height: 12px;
    display: block;
    top: 6px;
    left: 105px;
}
.hammer-drill {
    font-size: 30px;
    line-height: 30px;
    padding: 30px 28px 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #f2f6f8;
    color: #32425c;
    font-family: "Cuprum","Arial",sans-serif;
}
.section-goods {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.right-aside {
    margin-left: 20px;
    width: 700px;
}
.container-goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 38px;
    padding: 0 16px 0 19px;
    margin: 19px 0;
    background-color: #f7f3ec;
    text-transform: uppercase;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: normal;
    color: #000;
    font-size: 13px;
    line-height: 24px;
}
.title-price {
    color: #000;
    font-size: 17px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.range {
    margin-bottom: 23px;
}
.range-top {
    position: relative;
    height: 80px;
    margin: 10px 0;
    padding: 0px 40px;
    overflow: hidden;
    background: #f7f3ec;
}
.range-progress {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
    width: 140px;
}
.range-bar {
    height: 2px;
    background: #00ca74;
    width: 85%;
}
.button-circle-left, .button-circle-right {
    position: absolute;
    top: 31px;
    left: 20px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    border-radius: 50%;
    cursor: pointer;
}
.button-circle-right {
    left: 140px;
}
.range-bottom {
    margin-bottom: 26px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.price-min, .price-max {
    width: 90px;
    padding: 8px 2px 10px 8px;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}
.ndash {
    padding: 0 6px;
    line-height: 30px;
}
.manufacturers {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.manufacturers h3 {
    color: #000;
    font-size: 17px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.manufacturers-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 14px;
}
.manufacturers-filter label {
    margin-left: 32px;
    font: 15px/20px "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #000;
}
.form-label {
    position: relative;
}
.form-checkbox + .form-label:before {
    content: "";
    width: 23px;
    height: 23px;
    display: block;
    background: url(../img/checkbox-off.svg) no-repeat;
    position: absolute;
    top: -3px;
    left: -32px;
}
.form-checkbox:checked + .form-label:after {
    content: "";
    width: 27px;
    height: 23px;
    display: block;
    background: url(../img/checkbox-on.svg) no-repeat;
    position: absolute;
    top: -3px;
    left: -32px;
}
.form-label:hover::before, .form-label:hover::after {
    opacity: 0.5;
}
.power h3 {
    color: #000;
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.power-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 59px;
}
.power-filter label {
    margin-left: 32px;
    font: 15px/20px "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    color: #000;
}
.power-label {
    position: relative;
}
.form-checkbox + .power-label:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -32px;
    width: 19px;
    height: 19px;
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}
.form-checkbox:checked + .power-label:after {
    content: "";
    position: absolute;
    left: -23px;
    top: 6px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #c5c5c5;
}
.power-label:hover::before, .power-label:hover::after {
    opacity: 0.5;
}
.btn-filter {
    width: 138px;
    height: 38px;
    background: #fff;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 3%;
    cursor: pointer;
}
.sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 38px;
    padding: 0 16px 0 19px;
    margin: 19px 0;
    background-color: #f7f3ec;
    text-transform: uppercase;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: normal;
    color: #000;
    font-size: 13px;
    line-height: 24px;
}
.sort-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 350px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 90px;
}
.sort-list a {
    color: #acaaa5;
    line-height: 14px;
    border-bottom: 1px dotted #ee3643;
}
.sort-list .active {
    color: #ee3643;
    border: none;
}
.sort-list a:hover {
    -webkit-text-decoration: underline #ee3643;
            text-decoration: underline #ee3643;
    border-bottom: none;
    color: #000;
}
.sort-list .active:active, .sort-list .type:active, .sort-list .functional:active {
    color: #ee3643;
    text-decoration: none;
}
.sort-triggle {
    width: 43px;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.arrow-up {
    border-bottom: 10px solid #ee3643;
    width: 0;
    margin-top: 3px;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.arrow-down {
    border-top: 10px solid #c6c2bd;
    width: 0;
    margin-top: 3px;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.arrow-down:hover {
    border-top: 10px solid #000;
}
.arrow-up:hover {
    border-bottom: 10px solid #000;
}
.arrow-up:active {
    border-bottom: 10px solid #ee3643;
}
.arrow-down:active {  
    border-top: 10px solid #ee3643
}
.catalog-goods .goods-item {
    max-width: 320px;
}
.catalog-goods .goods-item:not(:nth-child(3n)) {
    margin-right: 20px;
}
.catalog-goods .goods-item {
    margin-bottom: 20px;
}
.catalog-goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 285px;
    margin: 33px 0 30px 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 5%;
    font: 13px/18px "PT Sans","Arial",sans-serif;
    background-color: #fff;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #e5e5e5;
}
.pagination-list .pagination-item-next {
    width: 140px;
}
.pagination-list a:hover {
    border:1px solid #bdc6ca;
    background-color: #fff;
    color: #000;
}
.pagination-list a:active {
    border: 1px solid #ee3643;
}
.pagination-item {
    margin-right: 11px;
}
.pagination-item .active {
    background-color: #ee3643;
    color: #fff;
    border: 1px solid #ee3643;
}
.pagination-item .active { 
    background-color: #ee3643; 
    color: #fff; 
    border: 1px solid #ee3643;
}
 .pagination-item:last-child {
   margin-right: 0;
}
.product-description {
    background-color: #f2f6f8;
    padding-bottom: 56px;
    font: 13px/18px "PT Sans","Arial",sans-serif;
}
.product-description h2 {
    font-size: 30px;
    line-height: 24px;
    margin: 28px 0;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Cuprum","Arial",sans-serif;
    padding-top: 69px;
}
.callback {
    background-color: #fff;
    width: 620px;
    min-height: 430px;
    position: fixed;
    -webkit-box-shadow: 0 5px 25px #000;
            box-shadow: 0 5px 25px #000;
    border-top: 7px solid #ee3643;
    left: 30%;
    top: 30%;
    font-size: 18px;
    line-height: 18px;
    z-index: 1000;
    display: none;
}
.content-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}
.close {
    position: absolute;
    top: 7px;
    right: 22px;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.close:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 25px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #ee3643;
}
.close:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 25px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #ee3643;
}
.callback-form {
    width: 460px;
    padding: 48px 80px 0px;
}
.callback-form label {
    font-family: "Cuprum","Arial",sans-serif;
    color: #000;
}
.form-group {
    width: 220px;
    margin-bottom: 22px;
}
.form-group input[type="text"] {
    width: 188px;
    padding: 0 14px;
    height: 34px;
    border: 2px solid #d7dcde;
    font: 13px/18px "PT Sans","Arial",sans-serif;
    margin-top: 8px;
    border-radius: 3%;
}
.letter {
    width: 428px;
    min-height: 102px;
    padding: 8px 14px 0px;
    margin-top: 8px;
    margin-bottom: 33px;
    border: 2px solid #d7dcde;
    font: 13px/18px "PT Sans","Arial",sans-serif;
    border-radius: 3%;
    resize: none;
}
.send {
    height: 90px;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.send-btn {
    height: 38px;
    border: none;
    width: 460px;
    margin: 0;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    border-radius: 3%;
    text-transform: uppercase;
    background-color: #ee3643;
}
.big-map {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 44%;
    width: 944px;
    height: 446px;
    margin-top: -280px;
    margin-left: -390px;
    display: none;  
}
.show-map {
    display: block;
}
.show-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}
.close-map {
    position: absolute;
    top: 0px;
    right: -40px;
    cursor: pointer;
    border: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: auto;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.close-map:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 25px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #ee3643;
}
.close-map:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 25px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #ee3643;
}
.cart {
    background-color: #fff;
    width: 620px;
    min-height: 283px;
    position: fixed;
    -webkit-box-shadow: 0 5px 25px #000;
            box-shadow: 0 5px 25px #000;
    border-top: 7px solid #ee3643;
    left: 30%;
    top: 30%;
    font-size: 18px;
    line-height: 18px;
    z-index: 1000;
    font-family: "Cuprum","Arial",sans-serif;
    display: none;
}
.cart-show {
    display: block;
}
.title-cart {
    position: relative;
    top: 70px;
    left: 0px;
    text-align: center;
    padding-left: 50px;
}
.title-cart:before {
    content: "";
    width: 66px;
    height: 66px;
    display: block;
    background: url(../img/icon-mark.svg) no-repeat;
    position: absolute;
    top: -22px;
    left: 76px;
}
.add-product {
    height: 112px;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 110px;
    position: relative;
}
.btn-next {
    background-color: #fff;
    color: #000;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}